
<div class="de" style="border:0px #9999ff dotted; width:100%;">
	<div class="section" style="width:100%;">
		<div class="section_title" style="width:100%;">
		General Infomation
		</div>
		
		<!-- begin of data line -->
		<div class="data_line">
			<div class="attr_name">
				<span style="color:red">*</span>Name
			</div>
			<div class="attr_value">
				<input id="v_de_name" style="width:170px;min-width:170px;" class="attr_value_input input_value" value="<%=@data.name%>" onfocus="this.oldvalue = this.value;" onchange="check_change_type_name(this);this.oldvalue = this.value;" ></input>
			</div>

			
			<div class="attr_name">
				<span style="color:red"></span>DBAlias
			</div>
			<div class="attr_value">
				<input id="v_de_dbname" style="width:170px;min-width:170px;" class="attr_value_input input_value" value="<%=@data.dbname%>" dbnamechanged="<%=@data.dbnamechanged%>" onchange="onchangedbname(this);"></input>
			</div>
			<div style="clear:both">
			</div>
		</div>
		<!-- end of data line -->
		
		<!-- begin of data line -->
		<div class="data_line">
			<div class="attr_name">
				<span style="color:red">*</span>Description
			</div>
			<div class="attr_value">
				<!--textarea id="v_de_desc" class="attr_value_textarea input_value" ><%=@data.desc%></textarea-->
				<input id="v_de_desc" class="attr_value_textarea input_value" value="<%=@data.name%>"></input>
			</div>
			<div style="clear:both">
			</div>
		</div>
		<!-- end of data line -->
		
		<!-- begin of data line -->
		<div class="data_line">
			<div class="attr_name">
				<span style="color:red">*</span>Data Type
			</div>
			<div class="attr_value">
		
				<!--input id="v_de_name" class="attr_value_input" value="<%=@data.dtype%>"></input-->
				<div id="v_de_dtype" class="dropdown_box" onclick="show_types(event);"><%=@data.dtype.name%></div>
				
				<div id="v_de_dtype_ddl" class="dropdown_list_container temp_floating" style="position: absolute;display:none;max-height:500px;overflow-y:scroll;">
					<ul class="dropdown_list" style="list-style-type:none;display: table;width: 100%;white-space: nowrap;  border-collapse: separate;">
						<li class="list_item_group_title" style=""><i>Character String</i></li>
						<li class="datatype">NVARCHAR    </li>
						<li class="datatype">VARCHAR     </li>
						<li class="datatype">ALPHANUM    </li>
						<li class="datatype">NCHAR       </li>
						<li class="datatype">CHAR        </li>
						<li class="datatype">SHORTTEXT   </li>
						
						<li class="list_item_group_title" style=""><i>Numeric</i></li>
						<li class="datatype">DECIMAL       </li>
						<li class="datatype">SMALLDECIMAL  </li>
						<li class="datatype">INTEGER       </li>
						<li class="datatype">BIGINT        </li>
						<li class="datatype">SMALLINT      </li>
						<li class="datatype">TINYINT       </li>
						<li class="datatype">DOUBLE        </li>
						<li class="datatype">FLOAT         </li>
						<li class="datatype">REAL          </li>
						
						
						<li class="list_item_group_title" style=""><i>Date/Time </i></li>
						<li class="datatype">SECONDDATE    </li>
						<li class="datatype">DATE          </li>
						<li class="datatype">TIME          </li>
						<li class="datatype">TIMESTAMP     </li>
				
						
						
						<li class="list_item_group_title" style=""><i>Boolean</i></li>
						<li class="datatype">BOOLEAN    </li>
						
						<li class="list_item_group_title" style=""><i>Binary</i></li>
						<li class="datatype">VARBINARY  </li>
						<li class="datatype">BINARY     </li>
						
						<li class="list_item_group_title" style=""><i>Large Object</i></li>
						<li class="datatype">BLOB          </li>
						<li class="datatype">NCLOB         </li>
						<li class="datatype">CLOB          </li>
						<li class="datatype">TEXT          </li>
						<li class="datatype">BINTEXT       </li>

					</ul>
					

				</div>

			</div>
			<div style="clear:both">
			</div>
		</div>
		<!-- end of data line -->
		<% if @data.dtype._length %>
		<!-- begin of data line -->
		<div class="data_line" id="line_de_dtype__length">
		<% else %>
		<div class="data_line" id="line_de_dtype__length" style="display:none;">
		<% end %>
		
			<div class="attr_name">
				Length
			</div>
			<div class="attr_value">
				<input id="v_de_dtype__length" class="attr_value_input input_value" value="<%=@data.dtype._length%>"></input>
			</div>
			<div style="clear:both">
			</div>
		</div>
		<!-- end of data line -->
		
		<% if @data.dtype.scale %>
		
		<!-- begin of data line -->
		<div class="data_line" id="line_de_dtype_scale">
		<% else %>
		<div class="data_line" id="line_de_dtype_scale" style="display:none">
		<% end %>
			<div class="attr_name">
				Scale
			</div>
			<div class="attr_value">
				<input id="v_de_dtype_scale" class="attr_value_input input_value" value="<%=@data.dtype.scale%>"></input>
			</div>
			<div style="clear:both">
			</div>
		</div>
		<!-- end of data line -->
	
	</div>

	<div class="section" style="width:100%;">
		<div class="section_title" style="width:100%;">
		Attributes
		</div>
		
		<div id="de_dtype_minLength"class="data_line">
			<div class="attr_name">
				<span style="color:red;display:none">*</span>Min Length
			</div>
			<div class="attr_value">
				<input id="v_de_dtype_minLength" class="attr_value_input" value=""></input>
			</div>
			<div style="clear:both">
			</div>
		</div>
		
		<div id="de_dtype_min" class="data_line">
			<div class="attr_name">
				<span style="color:red;display:none">*</span>Min
			</div>
			<div class="attr_value">
				<input id="v_de_dtype_min" class="attr_value_input" value=""></input>
			</div>
			<div style="clear:both">
			</div>
		</div>
				
		<div id="de_dtype_max" class="data_line">
			<div class="attr_name">
				<span style="color:red;display:none">*</span>Max
			</div>
			<div class="attr_value">
				<input id="v_de_dtype_max" class="attr_value_input" value=""></input>
			</div>
			<div style="clear:both">
			</div>
		</div>

		<div id="de_dtype_allowPast" class="data_line">
			<div class="attr_name">
				<span style="color:red;display:none">*</span>Allow Past
			</div>
			<div class="attr_value">
				<input id="v_de_dtype_allowPast" class="attr_value_input" value=""></input>
			</div>
			<div style="clear:both">
			</div>
		</div>	

		<div id="de_dtype_charset" class="data_line">
			<div class="attr_name">
				<span style="color:red;display:none">*</span>Charset
			</div>
			<div class="attr_value">
				<input id="v_de_dtype_charset" class="attr_value_input" value=""></input>
			</div>
			<div style="clear:both">
			</div>
		</div>	
				
		<div id="de_dtype_regexpattern" class="data_line">
			<div class="attr_name">
				<span style="color:red;display:none">*</span>Regular Expression Pattern
			</div>
			<div class="attr_value">
				<input id="v_de_dtype_regexpattern" class="attr_value_input" value=""></input>
			</div>
			<div style="clear:both">
			</div>
		</div>

		<div id="de_dtype_touppercase" class="data_line">
			<div class="attr_name">
				<span style="color:red;display:none">*</span>To Uppercase
			</div>
			<div class="attr_value">
				<input id="v_de_dtype_touppercase" class="attr_value_input" value=""></input>
			</div>
			<div style="clear:both">
			</div>
		</div>	
		
		<div id="de_dtype_removeleadingblank" class="data_line">
			<div class="attr_name">
				<span style="color:red;display:none">*</span>Remove leading blank
			</div>
			<div class="attr_value">
				<input id="v_de_dtype_removeleadingblank" class="attr_value_input" value=""></input>
			</div>
			<div style="clear:both">
			</div>
		</div>
		
		<div id="de_dtype_fixedvalues" class="data_line">
			<div class="attr_name">
				<span style="color:red;display:none">*</span>Fixed value
			</div>
			<div class="attr_value">
				<input id="v_de_dtype_fixedvalues" class="attr_value_input" value=""></input>
			</div>
			<div style="clear:both">
			</div>
		</div>		

		<div id="de_dtype_uidefaultvalue" class="data_line">
			<div class="attr_name">
				<span style="color:red;display:none">*</span>ui default value
			</div>
			<div class="attr_value">
				<input id="v_de_dtype_uidefaultvalue" class="attr_value_input" value=""></input>
			</div>
			<div style="clear:both">
			</div>
		</div>				
	</div>
	<div class="section" style="width:100%;">
		<div class="section_title" style="width:100%;">
		UI Information
		</div>
		
		<% if @data.ui %>
		<% @data.ui.each{|attr|%>
			<div class="data_line">
				<div class="attr_name">
					<% attr.n %>
				</div>
				<div class="attr_value">
					<input id="v_de_name" class="attr_value_input" value="<%=attr.v%>"></input>
				</div>
				<div style="clear:both">
				</div>
			</div>

		<%} %>
		<% end %>
	</div>
</div>
				
				<script>
			
				
				$("#v_de_dtype_ddl ul li.datatype").click(function(e){
					//alert(inspect(e));
					//alert(inspect(e.target));
					stype = $(e.target).html();
					//show_type_prop(stype);
					stype = stype.trim();
					$("#v_de_dtype").html(stype);
					
					// alert(stype);
					// alert(g_de_typedefs["VARCHAR"]);
					_type = g_de_typedefs[stype];
					// alert(inspect(_type));
					if (_type){
						if (_type.useScale == true)
							$("#line_de_dtype_scale").css("display", "block");
						else
							$("#line_de_dtype_scale").css("display", "none");
						
						if (_type.maxLength != null){
							$("#line_de_dtype__length").css("display", "block");								
						}		else
								$("#line_de_dtype__length").css("display", "none");
					}
				});
				

				</script>